<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Facture du Panier</title>
    <style>
        /* Ajoutez ici vos styles CSS personnalisés pour le PDF */
        body {
            font-family: Arial, sans-serif;
        }
        table {
            width: 100%;
            border-collapse: collapse;
            margin-bottom: 20px;
        }
        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
        .total {
            font-weight: bold;
        }
    </style>
</head>
<body>
<h1>Facture du Panier</h1>
<table>
    <thead>
    <tr>
        <th>Produit</th>
        <th>Prix unitaire</th>
        <th>Quantité</th>
        <th>Total</th>
    </tr>
    </thead>
    <tbody>
    {% for element in dataPanier %}
        <tr>
            <td>{{ element.product.name }}</td>
            <td>{{ element.product.price }} €</td>
            <td>{{ element.quantite }}</td>
            <td>{{ element.product.price * element.quantite }} €</td>
        </tr>
    {% endfor %}
    </tbody>
    <tfoot>
    <tr>
        <td colspan="3" class="total">Total</td>
        <td class="total">{{ total }} €</td>
    </tr>
    </tfoot>
</table>
</body>
</html>
