{% extends 'base2.html.twig' %}



{% block body %}

<div class="content d-flex flex-column flex-column-fluid" id="kt_content">

    <!--begin::Post-->
    <div class="post d-flex flex-column-fluid" id="kt_post">
        <!--begin::Container-->
        <div id="kt_content_container" class="container-xxl">
            <a href="{{ path('app_reclamation_show', {'id': reclamation.id}) }}" class="btn btn-light">
                <i class="fas fa-arrow-left"></i> <!-- Remplacez "fas fa-arrow-left" par la classe de votre icône -->
            </a>
            <!--begin::Layout-->
            <div class="d-flex flex-column flex-xl-row">
                <!--begin::Sidebar-->
                <div class="flex-column flex-lg-row-auto w-100 w-xl-350px mb-10">
                    <!--begin::Card-->
                    <div class="card mb-5 mb-xl-8">
                        <!--begin::Card body-->
                        <div class="card-body">
                            <!--begin::Summary-->
                            <!--begin::User Info-->
                            <div class="d-flex flex-center flex-column py-5">
                                <!--begin::Avatar-->
                                <div class="symbol symbol-100px symbol-circle mb-7">
                                    <img src="{{ asset('assets/media/avatars/12.jpg') }}" alt="image" />
                                </div>
                                <!--end::Avatar-->
                                <!--begin::Name-->
                                <a href="#" class="fs-3 text-gray-800 text-hover-primary fw-bolder mb-3">{{ reclamation.nom|capitalize }} {{ reclamation.prenom|capitalize }}</a>
                                <!--end::Name-->
                                <!--begin::Position-->

                                <!--end::Position-->
                                <!--begin::Info-->

                                <div class="d-flex flex-wrap flex-center">

                      <span class="{{ reclamation.etat == 'Traité' ? 'badge badge-light-success fs-7 fw-bold' : 'badge badge-light-danger fs-7 fw-bold' }}">
                                {{ reclamation.etat }}
                                </span>

                                </div>
                                <!--end::Info-->
                            </div>
                            <!--end::User Info-->
                            <!--end::Summary-->
                            <!--begin::Details toggle-->
                            <div class="d-flex flex-stack fs-4 py-3">
                                <div class="fw-bolder rotate collapsible" data-bs-toggle="collapse" href="#kt_user_view_details" role="button" aria-expanded="false" aria-controls="kt_user_view_details">Details
                                    <span class="ms-2 rotate-180">
														<!--begin::Svg Icon | path: icons/duotune/arrows/arr072.svg-->
														<span class="svg-icon svg-icon-3">
															<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
																<path d="M11.4343 12.7344L7.25 8.55005C6.83579 8.13583 6.16421 8.13584 5.75 8.55005C5.33579 8.96426 5.33579 9.63583 5.75 10.05L11.2929 15.5929C11.6834 15.9835 12.3166 15.9835 12.7071 15.5929L18.25 10.05C18.6642 9.63584 18.6642 8.96426 18.25 8.55005C17.8358 8.13584 17.1642 8.13584 16.75 8.55005L12.5657 12.7344C12.2533 13.0468 11.7467 13.0468 11.4343 12.7344Z" fill="black" />
															</svg>
														</span>
                                        <!--end::Svg Icon-->
													</span></div>

                            </div>
                            <!--end::Details toggle-->
                            <div class="separator"></div>
                            <!--begin::Details content-->
                            <div id="kt_user_view_details" class="collapse show">
                                <div class="pb-5 fs-6">
                                    <!--begin::Details item-->
                                    <div class="fw-bolder mt-5">Email</div>
                                    <div class="text-gray-600">{{ reclamation.email }}</div>
                                    <!--begin::Details item-->
                                    <!--begin::Details item-->
                                    <div class="fw-bolder mt-5">Phone</div>
                                    <div class="text-gray-600">{{ reclamation.numTele }}</div>

                                    <!--begin::Details item-->
                                    <!--begin::Details item-->
                                    <div class="fw-bolder mt-5">Sujet</div>
                                    <div class="text-gray-600">{{ reclamation.sujet }}</div>
                                    <!--begin::Details item-->
                                    <!--begin::Details item-->
                                    <div class="fw-bolder mt-5">Description</div>
                                    <div class="text-gray-600">{{ reclamation.description }}</div>
                                    <!--begin::Details item-->
                                    <!--begin::Details item-->
                                    <div class="fw-bolder mt-5">Date</div>
                                    <div class="text-gray-600">{{ reclamation.date ? reclamation.date|date('Y-m-d H:i:s') : '' }}</div>
                                    <!--begin::Details item-->
                                </div>
                            </div>
                            <!--end::Details content-->
                        </div>
                        <!--end::Card body-->
                    </div>
                    <!--end::Card-->

                </div>
                <!--end::Sidebar-->
                <!--begin::Content-->
                <div class="flex-lg-row-fluid ms-lg-15">
                    <!--begin:::Tab content-->
                    <div class="tab-content" id="myTabContent">
                        <!--begin:::Tab pane-->
                        <div class="tab-pane fade show active" id="kt_user_view_overview_tab" role="tabpanel">
                            <!--begin::Card-->
                            <div class="card card-flush mb-6 mb-xl-9">
                                <!--begin::Card header-->
                                <div class="card-header mt-6">

                                    <div class="modal-body scroll-y px-10 px-lg-15 pt-0 pb-15 , ">
                                        <div class="d-flex justify-content-center">
                                            <div class="col-md-8"> <!-- Utilisez la classe col-md-8 pour réduire la taille du formulaire -->
                                                {{ form_start(form, {'attr': {'action': '#', 'class': 'form-contact contact_form', 'id': 'contactForm', 'novalidate': 'novalidate'}}) }}
                                                <!--begin::Heading-->
                                                <div class="mb-13 text-center">
                                                    <!--begin::Title-->
                                                    <h1 class="mb-3">Reponse</h1>
                                                    <!--end::Title-->
                                                </div>
                                                <!--end::Heading-->
                                                <!--begin::Input group-->
                                                <div class="d-flex flex-column mb-8">
                                                    <label class="fs-6 fw-bold mb-2">Reponse</label>
                                                    {{ form_widget(form.reponse, {'attr': {'class': 'form-control form-control-solid', 'style': 'height: 150px'}}) }}
                                                    <div style="color: red;">{{ form_errors(form.reponse) }}</div> {# Affiche les erreurs de validation pour le champ date #}

                                                </div>
                                                <div class="d-flex flex-column mb-8">
                                                    <label class="fs-6 fw-bold mb-2">Date</label>
                                                    {{ form_widget(form.date, {'attr': {'placeholder': 'Date and time...', 'class': 'form-control datepicker'}}) }}
                                                    <div style="color: red;">{{ form_errors(form.date) }}</div> {# Affiche les erreurs de validation pour le champ date #}

                                                </div>
                                                <!--end::Input group-->
                                                <!--begin::Switch-->
                                                <!--end::Input group-->
                                                <!--begin::Input group-->
                                                <div class="mb-15 fv-row">
                                                    <!--begin::Wrapper-->
                                                    <div class="d-flex flex-stack">
                                                        <!--begin::Label-->
                                                        <div class="fw-bold me-5">
                                                            <label class="fs-6">Notifications</label>
                                                            <div class="fs-7 text-muted">Allow Notifications by Phone or Email</div>
                                                        </div>
                                                        <!--end::Label-->
                                                        <!--begin::Checkboxes-->
                                                        <div class="d-flex align-items-center">
                                                            <!--begin::Checkbox-->
                                                            <label class="form-check form-check-custom form-check-solid me-10">
                                                                <input class="form-check-input h-20px w-20px" type="checkbox" name="communication[]" value="email" checked="checked" />
                                                                <span class="form-check-label fw-bold">Email</span>
                                                            </label>
                                                            <!--end::Checkbox-->
                                                            <!--begin::Checkbox-->
                                                            <label class="form-check form-check-custom form-check-solid">
                                                                <input class="form-check-input h-20px w-20px" type="checkbox" name="communication[]" value="phone" />
                                                                <span class="form-check-label fw-bold">Phone</span>
                                                            </label>
                                                            <!--end::Checkbox-->
                                                        </div>
                                                        <!--end::Checkboxes-->
                                                    </div>
                                                    <!--end::Wrapper-->
                                                </div>
                                                <!--end::Input group-->
                                                <!--begin::Actions-->
                                                <div class="card-px text-center pt-20 pb-5">
                                                    <!--begin::Action-->
                                                    <button class="btn btn-primary fs-6 px-8 py-4" data-bs-toggle="modal" data-bs-target="#kt_modal_new_target">{{ button_label|default('Save') }}</button>
                                                    <!--end::Action-->
                                                </div>
                                                {{ form_end(form) }}
                                            </div>
                                        </div>
                                    </div>

    {#<a href="{{ path('app_reponse_index') }}">back to list</a>#}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
