{% extends 'base1.html.twig' %}

{% block body %}
    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg" data-setbg="{{ asset('img/breadcrumb-bg.jpg')}}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb-text">
                        <h2>Activites</h2>
                        <div class="bt-option">
                            <a href="./index.html">Salles</a>
                            <span>Activites</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->
    <!-- Classes Section Begin -->
    <section class="classes-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <span>Nos Activites</span>
                        <h2>Soyer le bienvenue</h2>
                    </div>
                </div>
            </div>

            <div class="row">
                {% for activite in activites %}
                <div class="col-lg-4 col-md-6">
                    <div class="class-item">
                        <div class="ci-pic">
                            <a href="{{ path('app_front_activite_show', {'id': activite.id}) }}">
                                <img src="{{ asset('uploads/activite/' ~ activite.imageActivte) }}" alt="" style="width: 218.5px; height: 320px;">
                            </a>
                        </div>
                        <div class="ci-text">
                            <span>{{ activite.salle.nom }}</span>
                            <h5>{{ activite.nom }}</h5>
                            <a href="{{ path('app_front_activite_show', {'id': activite.id}) }}"><i class="fa fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
                {% else %}
                    <tr>
                        <td colspan="8">no records found</td>
                    </tr>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}
