{% extends 'base.html.twig' %}

{% block title %}Ticket index{% endblock %}

{% block body %}
    <h1>Ticket index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Prix</th>
                <th>Type</th>
                <th>NbreTicket</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ticket in tickets %}
            <tr>
                <td>{{ ticket.id }}</td>
                <td>{{ ticket.prix }}</td>
                <td>{{ ticket.type }}</td>
                <td>{{ ticket.nbreTicket }}</td>
                <td>
                    <a href="{{ path('app_ticket_front_show', {'id': ticket.id}) }}">show</a>
                    <a href="{{ path('app_ticket_front_edit', {'id': ticket.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_ticket_front_new') }}">Create new</a>
{% endblock %}
