{% extends 'base2.html.twig' %}

{% block title %}Hello NomController!{% endblock %}

{% block body %}

        <div class="content d-flex flex-column flex-column-fluid" id="kt_content">
            <!--begin::Post-->
            <div class="post d-flex flex-column-fluid" id="kt_post">
                <!--begin::Container-->
                <div id="kt_content_container" class="container-xxl">
                    <!--begin::Card-->
                    <div class="card">
                        <!--begin::Card header-->
                        <div class="card-header ">
                            <!--begin::Card title-->

                            <!--begin::Search-->
                            <div class="d-flex align-items-center position-relative my-1">
                                <!--begin::Svg Icon | path: icons/duotune/general/gen021.svg-->
                                <span class="svg-icon svg-icon-1 position-absolute ms-6">
													<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                         viewBox="0 0 24 24" fill="none">
														<rect opacity="0.5" x="17.0365" y="15.1223" width="8.15546"
                                                              height="2" rx="1" transform="rotate(45 17.0365 15.1223)"
                                                              fill="black"/>
														<path d="M11 19C6.55556 19 3 15.4444 3 11C3 6.55556 6.55556 3 11 3C15.4444 3 19 6.55556 19 11C19 15.4444 15.4444 19 11 19ZM11 5C7.53333 5 5 7.53333 5 11C5 14.4667 7.53333 17 11 17C14.4667 17 17 14.4667 17 11C17 7.53333 14.4667 5 11 5Z"
                                                              fill="black"/>
													</svg>
												</span>
                                <!--end::Svg Icon-->
                                <input type="text" data-kt-user-table-filter="search"
                                       class="form-control form-control-solid w-250px ps-14" placeholder="Search user"/>
                            </div>
                            <div class="card-header border-0 pt-5">

                                <div class="card-toolbar">
                                    <a href="#" class="btn btn-sm btn-light-primary" data-bs-toggle="modal"
                                       data-bs-target="#kt_modal_new_target">
                                        <!--begin::Svg Icon | path: icons/duotune/arrows/arr075.svg-->
                                        <span class="svg-icon svg-icon-2">
												<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                     viewBox="0 0 24 24" fill="none">
													<rect opacity="0.5" x="11.364" y="20.364" width="16" height="2"
                                                          rx="1" transform="rotate(-90 11.364 20.364)" fill="black"/>
													<rect x="4.36396" y="11.364" width="16" height="2" rx="1"
                                                          fill="black"/>
												</svg>
											</span>
                                        <!--end::Svg Icon-->Ajouter une Salle</a>
                                    <div class="modal fade" id="kt_modal_new_target" tabindex="-1"
                                         aria-hidden="true">
                                        <!--begin::Modal dialog-->
                                        <div class="modal-dialog modal-dialog-centered mw-650px" id="mainModal">
                                            <!--begin::Modal content-->
                                            <div class="modal-content rounded" id="mainModal">
                                                <!--begin::Modal header-->
                                                <div class="modal-header pb-0 border-0 justify-content-end">
                                                    <!--begin::Close-->
                                                    <div class="btn btn-sm btn-icon btn-active-color-primary"
                                                         data-bs-dismiss="modal">
                                                        <!--begin::Svg Icon | path: icons/duotune/arrows/arr061.svg-->
                                                        <span class="svg-icon svg-icon-1">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                             viewBox="0 0 24 24" fill="none">
                                            <rect opacity="0.5" x="6" y="17.3137" width="16" height="2" rx="1"
                                                  transform="rotate(-45 6 17.3137)" fill="black"/>
                                            <rect x="7.41422" y="6" width="16" height="2" rx="1"
                                                  transform="rotate(45 7.41422 6)" fill="black"/>
                                        </svg>
                                    </span>
                                                        <!--end::Svg Icon-->
                                                    </div>
                                                    <!--end::Close-->
                                                </div>
                                                <!--begin::Modal header-->
                                                <!--begin::Modal body-->
                                                <div class="modal-body scroll-y px-10 px-lg-15 pt-0 pb-15">
                                                    <!--begin:Form-->
                                                    {{ form_start(form, {'attr': {'id':'kt_modal_new_target_form', 'class': 'form', 'action': '#', 'novalidate': 'novalidate'  }}) }}
                                                    <!--begin::Heading-->
                                                    <div class="mb-13 text-center">
                                                        <!--begin::Title-->
                                                        <h1 class="mb-3">Ajouter Salle</h1>
                                                        <!--end::Title-->
                                                        <!--begin::Description-->

                                                        <!--end::Description-->
                                                    </div>
                                                    <!--end::Heading-->
                                                    {{ form_row(form.nom, {'label': 'Nom', 'label_attr': {'class': 'fw-bolder fs-6 text-gray-800'}, 'attr': {'class': 'form-control form-control-solid', 'placeholder': 'Entrez le nom de la Salle'}}) }}
                                                    {{ form_row(form.addresse, {'label': 'Addresse', 'label_attr': {'class': 'fw-bolder fs-6 text-gray-800'}, 'attr': {'class': 'form-control form-control-solid', 'placeholder': 'Entrez l\'addresse de la Salle'}}) }}
                                                    {{ form_row(form.numTel, {'label': 'Numero du téléphone', 'label_attr': {'class': 'fw-bolder fs-6 text-gray-800'}, 'attr': {'class': 'form-control form-control-solid', 'placeholder': 'Entrez le numero de la Salle'}}) }}
                                                    {{ form_row(form.capacite, {'label': 'Capacitée', 'label_attr': {'class': 'fw-bolder fs-6 text-gray-800'}, 'attr': {'class': 'form-control form-control-solid', 'placeholder': 'Entrez la capacitée de la Salle'}}) }}
                                                    {{ form_row(form.nbrClient, {'label': 'Nombre abonné', 'label_attr': {'class': 'fw-bolder fs-6 text-gray-800'}, 'attr': {'class': 'form-control form-control-solid', 'placeholder': 'Entrez le nombre d\'abbonn\é de la Salle'}}) }}
                                                    {{ form_row(form.description, {'label': 'Description', 'label_attr': {'class': 'fw-bolder fs-6 text-gray-800'}, 'attr': {'class': 'form-control form-control-solid', 'placeholder': 'Entrez la discription de la Salle'}}) }}
                                                    {{ form_row(form.logoSalle, {
                                                        'label': 'Logo Salle',
                                                        'label_attr': {'class': 'fw-bolder fs-6 text-gray-800'},
                                                        'attr': {'class': 'form-control form-control-solid', 'accept': 'image/*'}
                                                    }) }}


                                                    <!--begin::Actions-->
                                                    <div class="text-center mt-5 mb-3">

                                                        <button type="submit" id="kt_modal_new_target_submit"
                                                                class="btn btn-primary">
                                                            <span class="indicator-label">Soumettre</span>
                                                            <span class="indicator-progress">Veuillez patienter...
                                            <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                                        </span>
                                                        </button>

                                                    </div>


                                                    <!--end::Actions-->
                                                    {{ form_end(form) }}
                                                    <!--end:Form-->
                                                </div>

                                                <!--end::Modal body-->
                                            </div>
                                            <!--end::Modal content-->
                                        </div>
                                        <!--end::Modal dialog-->
                                    </div>
                                </div>

                            </div>


                            <!--end::Search-->


                            <!--end::Card toolbar-->
                        </div>
                        <!--end::Card header-->
                        <!--begin::Card body-->
                        <div class="card-body pt-0">
                            <!--begin::Table-->
                            <table class="table align-middle table-row-dashed fs-6 gy-5" id="kt_table_users">
                                <!--begin::Table head-->
                                <thead>
                                <!--begin::Table row-->
                                <tr class="text-start text-muted fw-bolder fs-7 text-uppercase gs-0">
                                    <th class="min-w-125px  fw-bolder fs-6 text-gray-800">Nom</th>
                                    <th class="min-w-125px fw-bolder fs-6 text-gray-800">addresse</th>
                                    <th class="min-w-125px fw-bolder fs-6 text-gray-800">numTel</th>
                                    <th class="min-w-125px fw-bolder fs-6 text-gray-800">NbrAbonnés</th>

                                    <th class="min-w-125px fw-bolder fs-6 text-gray-800">Logo</th>
                                </tr>
                                <!--end::Table row-->
                                </thead>
                                <!--end::Table head-->
                                <!--begin::Table body-->
                                <tbody class="text-gray-600 fw-bold">
                                <!--begin::Table row-->

                                <!--end::Table row-->
                                <!--begin::Table row-->
                                {% for salle in salles %}
                                    <tr>
                                        <td>{{ salle.nom }}</td>
                                        <td>{{ salle.addresse }}</td>
                                        <td>{{ salle.numTel }}</td>
                                        <td>{{ salle.nbrClient }}</td>

                                        <td>
                                            <div class="w-100 rounded mb-2 mb-lg-0 mt-2">
                                                {% if salle.logoSalle|length > 0 %}
                                                    <img src="{{ asset('uploads/' ~ salle.logoSalle) }}" class="img-fluid" alt="Evenement Image" width="150" height="100">
                                                {% else %}
                                                    <img src="{{ asset('uploads/Not found.jpg') }}" class="img-fluid" alt="Image Not Found" width="150" height="100">
                                                {% endif %}
                                            </div>
                                        </td>
                                        <td>
                                            <a href="{{ path('app_salle_show', {'id': salle.id}) }}" class="btn btn-light-success btn-sm btn-primary">
                                                <i class="fas fa-eye"></i>
                                            </a>


                                        </td>
                                    </tr>
                                {% else %}
                                    <tr>
                                        <td colspan="7">no records found</td>
                                    </tr>
                                {% endfor %}
                                <!--end::Table row-->
                                </tbody>
                                <!--end::Table body-->
                            </table>
                            <!--end::Table-->


                        </div>
                        <!--end::Card body-->
                    </div>
                    <!--end::Card-->
                </div>
                <!--end::Container-->
            </div>
            <!--end::Post-->
        </div>
{% endblock %}