{% extends 'base1.html.twig' %}

{% block title %}Liste Produits{% endblock %}


{% block body %}
<!-- Breadcrumb Section Begin -->
<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section set-bg" data-setbg={{ asset('img/breadcrumb-bg.jpg')}}>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb-text">
                    <h2>Nos Produits</h2>
                    <div class="bt-option">
                        <a href="./index.html">Home</a>
                        <a href="#">Produits</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
    <section class="blog-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 p-0">
                    {% for product in product %}
                    <div class="blog-item">
                        <div class="bi-pic" style="position: relative;
    overflow: hidden;
    width: 290px; ">
                            <a href="{{ path('app_porduct_front_show', {'id': product.id}) }}">
                                <img src="{{ asset('uploads/product/' ~ product.image) }}" alt="Product Image">
                            </a>
                        </div>
                        <div class="bi-text" >
                            <h5 style="   font-size: 40px;
    color: floralwhite;
    margin-top: 5px; font-family: Arial Narrow, sans-serif;" >{{ product.name }}</h5>
                            <ul>
                                <li style="font-size: 15px">{{ product.price }} €</li>
                                <li style="font-size: 10px; font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif">#{{ product.categoriep.name }}</li>
                            </ul>
                            <p style="   font-size: 20px;
    color: #f55206;
    margin-top: 5px; font-family:Arial Narrow, sans-serif	;">{{ product.description }}</p>
                        </div>
                    </div>
                    {% endfor %}
                    <div class="blog-pagination">
                        {{ knp_pagination_render(product) }}
                    </div>
                </div>
                <div class="col-lg-4 col-md-8 p-0">
                    <div class="sidebar-option">
                        <div class="so-categories" style="color: #f1f1f1;
                         display: block;
    position: sticky;
    top: 20px;">
                             {% include 'porduct_front/_filter.html.twig' with {form: form} only %}
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}