{% extends 'base1.html.twig' %}

{% block title %}Liste Produits{% endblock %}

{% block body %}
<!-- Breadcrumb Section Begin -->
<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section set-bg" data-setbg={{ asset('img/breadcrumb-bg.jpg')}}>
    <div class="container">
        <div class="row"> 
            <div class="col-lg-12 text-center">
                <div class="breadcrumb-text">
                    <h2>Our Blog</h2>
                    <div class="bt-option"> 
                        <a href="./index.html">Home</a>
                        <a href="#">Produits</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
    <section class="blog-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 p-0">
                    {% for product in products %}
                    <div class="blog-item">
                        <div class="bi-pic" style="position: relative;
    overflow: hidden;
    width: 290px; ">
                            <a href="{{ path('app_porduct_front_show', {'id': product.id}) }}">
                                <img src="{{ asset('uploads/' ~ product.image) }}" alt="Product Image">
                            </a>
                        </div>
                        <div class="bi-text" >
                            <h5 style="   font-size: 40px;
    color: red;
    margin-top: 5px; font-family: Arial Narrow, sans-serif;" >{{ product.name }}</h5>
                            <ul>
                                <li>{{ product.price }}</li>
                            </ul>
                            <p style="   font-size: 50px;
    color: #333;
    margin-top: 5px; font-family:Arial Narrow, sans-serif	;">{{ product.description }}</p>
                        </div>
                    </div>

                    {% endfor %}
                    <div class="blog-pagination">
                        <a href="#">1</a>
                        <a href="#">2</a>
                        <a href="#">3</a>
                        <a href="#">Next</a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-8 p-0">
                    <div class="sidebar-option">
                        <div class="so-categories">
                            <h5 class="title">Categories</h5>
                            <ul>
                                <li><a href="#">Yoga <span>12</span></a></li>
                                <li><a href="#">Runing <span>32</span></a></li>
                                <li><a href="#">Weightloss <span>86</span></a></li>
                                <li><a href="#">Cario <span>25</span></a></li>
                                <li><a href="#">Body buiding <span>36</span></a></li>
                                <li><a href="#">Nutrition <span>15</span></a></li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}