{% extends 'base2.html.twig' %}

{% block title %}Edit Profile{% endblock %}

{% block stylesheets %}
{{ parent() }}
<style>
    .edit-profile-container {
        padding: 20px;
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0,0,0,.1);
        margin-top: 20px;
    }

    .edit-profile-heading {
        margin-bottom: 30px;
        text-align: center;
    }

    .form-group {
        margin-bottom: 15px;
    }

    .form-control {
        border-radius: 5px;
    }

    .btn-save-changes {
        display: block;
        width: 100%;
        padding: 10px;
        font-size: 18px;
        border-radius: 5px;
        margin-top: 20px;
    }

    /* Style for error messages */
    .form-error-message {
        color: #d9534f; /* Bootstrap 'danger' color, for example */
        margin-top: .5rem;
    }
</style>
{% endblock %}

{% block body %}
<div class="container mt-5">
    <div class="edit-profile-container">
        <h2 class="edit-profile-heading">Edit Profile</h2>
        {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
        
        {# Iterate over each field to render them individually #}
        {% for field in form %}
            {% if field.vars.name != '_token' %}
                <div class="form-group">
                    {{ form_label(field, null, {'label_attr': {'class': 'control-label'}}) }}
                    {{ form_widget(field, {'attr': {'class': 'form-control'}}) }}
                    {# Custom class for errors added here #}
                    <div class="text-danger">{{ form_errors(field) }}</div>
                </div>
            {% endif %}
        {% endfor %}
        
    {{ form_row(form._token) }}</br>
        
        <button type="submit" class="btn btn-primary btn-save-changes">Save Changes</button>
        {{ form_end(form) }}
    </div>
</div>
{% endblock %}
