{% extends 'base2.html.twig' %}
{% block title %}
	Update Password
{% endblock %}
{% block body %}
	<div class="container my-5">
		<div class="row justify-content-center">
			<div class="col-md-8">
				<div class="card">
					<div class="card-header text-center">
						<h1>Update Password</h1>
					</div>
					<div class="card-body">
						{{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

						{# Custom style for inline label-input #}
						<style>
							.form-inline-label {
								display: flex;
								align-items: center;
								justify-content: space-between;
								margin-bottom: 1rem;
							}
							.form-inline-label > label {
								margin-right: 1rem;
							}
						</style>

						<div class="form-inline-label">
							{{ form_label(form.newPassword.first, 'New Password', {'label_attr': {'class': 'col-sm-4'}}) }}
							<div class="col-sm-8">
								{{ form_widget(form.newPassword.first, {'attr': {'class': 'form-control'}}) }}

							</div>
						</div>

						<div class="form-inline-label">
							{{ form_label(form.newPassword.second, 'Confirm New Password', {'label_attr': {'class': 'col-sm-4'}}) }}
							<div class="col-sm-8">
								{{ form_widget(form.newPassword.second, {'attr': {'class': 'form-control'}}) }}
							</br>
                            <div class="error-message" style="color:red;">
                            {{ form_errors(form.newPassword.first) }}
                        </div>
						</div>

					</div>

					{# Render any additional fields here #}

					<div class="text-center mt-4">
						<button type="submit" class="btn btn-primary">Update</button>
						<a href="{{ path('user_list_role_client') }}" class="btn btn-secondary">Back to list</a>
					</div>
					{{ form_end(form) }}
				</div>
			</div>
		</div>
	</div>
</div>{% endblock %}
