{% extends 'base1.html.twig' %}
{% block title %}
    My Profile
    
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <style>
        body {
            background-color: black; /* Set background to black */
            color: #fff; /* Set text color to white for contrast */
        }

		.profile-header {
			text-align: center;
			margin-bottom: 30px;
		}

		.avatar-circle {
			width: 150px;
			height: 150px;
			border-radius: 50%;
			object-fit: cover;
			margin: auto;
			display: block;
		}

		.profile-info {
			margin-bottom: 30px;
		}

		.profile-label {
			font-weight: bold;
			margin-bottom: 0.5rem;
		}

		.profile-value {
			background-color: #f8f9fa;
			border: none;
			color: #495057;
			padding: 0.375rem 0.75rem;
			font-size: 1rem;
			line-height: 1.5;
			border-radius: 0.25rem;
		}

		.btn-edit-profile {
			display: block;
			width: 100%;
			max-width: 200px;
			margin: 20px auto 0;
		}

        .card {
            background-color: #333; /* Dark background for cards */
            color: #fff; /* Ensure text inside cards is white */
        }

        .form-control {
            background-color: #555; /* Darker background for form inputs */
            border: 1px solid #777;
            color: #fff; /* White text for inputs */
        }

        .form-control:disabled {
            background-color: #666; /* Slightly different background for disabled inputs */
        }
	</style>
{% endblock %}
{% block body %}
    <div class="container mt-5">
        <div class="card">
            <div class="card-header">
                <div class="profile-header">
                    <img src="{{ asset('path/to/user/avatar/' ~ user.avatar) }}" class="avatar-circle" alt="Profile Avatar">
                        <h1>
                            {{ user.nom }}
                            {{ user.prenom }}
                        </h1>
                        <p class="text-muted">
                            {{ user.email }}
                        </p>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6 profile-info">
                            <p class="profile-label">
                                Nom
                            </p>
                            <input type="text" class="form-control profile-value" value="{{ user.nom }}" disabled></div>
                            <div class="col-md-6 profile-info">
                                <p class="profile-label">
                                    Prenom
                                </p>
                                <input type="text" class="form-control profile-value" value="{{ user.prenom }}" disabled></div>
                            </div>
                        </br>
                        <div class="row">
                            <div class="col-md-6 profile-info">
                                <p class="profile-label">
                                    Email
                                </p>
                                <input type="text" class="form-control profile-value" value="{{ user.email }}" disabled></div>
                                <div class="col-md-6 profile-info">
                                    <p class="profile-label">
                                        Phone Number
                                    </p>
                                    <input type="text" class="form-control profile-value" value="{{ user.numTele }}" disabled></div>
                                </div>
                            </br>
                            <div class="row">
                                <div class=" col-md-6 profile-info">
                                    <p class="profile-label">
                                        Address
                                    </p>
                                    <input type="text" class="form-control profile-value" value="{{ user.adresse }}" disabled></div>
                                    <div class="col-md-6 profile-info">
                                        <p class="profile-label">
                                            createdAt
                                        </p>
                                        <input type="text" class="form-control profile-value" value="{{ user.createdAt|date('Y-m-d H:i') }}" disabled></div>
                                    </div>
                                </br>
                                <div class="col-md-6 profile-info">
                                    <p class="profile-label">
                                        updatedAt
                                    </p>
                                    <input type="text" class="form-control profile-value" value="{{ user.updatedAt|date('Y-m-d H:i') }}" disabled></div>
                                </br>
                                <a href="{{ path('editProfileUser') }}" class="btn btn-primary btn-edit-profile">
                                    Edit Profile
                                </a>
                                {# {{ dump(user) }} #}
                                {# <a href="{{ path('app_user_update_passwordProfile') }}" class="btn btn-dark btn-edit-profile">
                                Update Password
                            </a> #}
                            </div>
                        </div>
                    </div>
                {% endblock %}
                